<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risorsa non trovata - Hotel</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header>
    <a href="/" class="logo">Hotel Name</a>
</header>

<section class="hero">
    <div class="hero-content">
        <h1 style="color: var(--primary-gold);">404</h1>

        <h2>Risorsa non trovata</h2>
        <br>
        <p>La risorsa richiesta non è stata trovata.</p>

        <br><br>

        <a href="/" class="btn-login" style="margin-top: 20px;">Torna alla Home</a>
    </div>
</section>

<footer>
    <div class="nav-links">
        <span>&copy; 2024 Hotel Name System</span>
    </div>
</footer>

</body>
</html>