<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Errore Interno - Hotel</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header>
    <a href="/" class="logo">Comitini Residence</a>
</header>

<section class="hero">
    <div class="hero-content">
        <h1 style="color: var(--primary-gold);">500</h1>

        <h2>Errore Interno del Server</h2>
        <br>
        <p>Si è verificato un errore imprevisto. Ci scusiamo per il disagio.</p>
        <p style="font-size: 0.9rem; color: #ccc;">Il nostro team tecnico è stato notificato.</p>

        <br><br>

        <a href="/" class="btn-login" style="margin-top: 20px;">Torna alla Home</a>
    </div>
</section>

<footer>
    <div class="nav-links">
        <span>&copy; 2024 Comitini Residence</span>
    </div>
</footer>

</body>
</html>